#fileContent{
    resize: none;
    border:none;
    outline: none;
    padding: 10px;
}
.input{
    box-shadow: 0 0 5px;
}
.brand-name{
        font-family: "Pacifico", serif;
        font-weight: 400;
        font-style: normal;
      
}
.linkAcc{
    position: absolute;
    top: 90%;
  left: 20%;
  transform: translate(-20%,-90%);
}